{% extends "../pannel.html" %}
{% block right %}
<div class="flex flex-col flex-wrap px-10 py-5 m-5">
    {% for t in treatment %}
    <div class="h-full shadow-lg px-4 py-6 w-full bg-white dark:bg-gray-700 relative rounded-lg m-4 flex-wrap">
        <a href="#">
            <h2 class="text-xl font-semibold hover:text-purple-600"><i
                    class="fi fi-rr-treatment mr-2"></i>{{t.description}}</h2>
        </a>
        <ul class="text-sm text-gray-500 p-2">
            <li>Care Type: {{t.care_type}}</li>
            <li>Care Sub Type: {{t.care_sub_type}}</li>
            <li>Patient: {{t.patient}}</li>
            <li>Nurse: {{t.nurse}}</li>
        </ul>
        <a href="/treatment/update/{{t.id}}/"><button class="mt-2 p-2 bg-purple-500 text-gray-100 rounded-lg"
                type="submit"><i class="fi fi-rr-pencil"></i></button></a>
        <a href="/treatment/delete/{{t.id}}/"><button class="mt-2 p-2 bg-purple-500 text-gray-100 rounded-lg"
                type="submit"><i class="fi fi-rr-trash"></i></button></a>
        {% empty %}
        <div class="flex items-center justify-center">
            <div class="text-xl">No Treatments yet.</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock right %}

{% block section %}
<div class="shadow-lg px-4 py-6 w-200 bg-white dark:bg-gray-700 relative rounded-lg m-4 justify-center">
    <h1 class="text-6xl">Treatment</h1>
    <br>
    <a href="/treatment/create/">
        <button class="p-2 w-200 bg-purple-500 text-gray-100 rounded-lg"><i class="fi fi-rr-add mr-2"></i>Add</button>
    </a>
</div>
{% endblock section %}