{% extends "../pannel.html" %}
{% block right %}
{% for f in facility %}
<div class="shadow-lg px-4 py-6 w-full bg-white dark:bg-gray-700 relative rounded-lg m-4 flex-wrap">
    <li class="list-none flex justify-between flex-col">
        <div class="flex flex-wrap flex-row justify-between">
            <div>
                <div class="font-semibold text-lg text-purple-200">{{f.name}}</div>
                <div>Ward: {{f.ward}}</div>
            </div>
            <span
                class="px-2 h-5 text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">{{f.kind}}</span>
        </div>
        <ul>
            <li>Address: {{f.address}}</li>
            <li>Pincode: {{f.pincode}}</li>
            <li>Phone Number: {{f.phone}}</li>
        </ul>
        <div class="relative bottom-0">
            <a href="/facility/update/{{ f.id }}">
                <button
                    class="bg-purple-500 hover:bg-purple-700 text-white font-medium py-2 px-4 rounded-md font-base text-center mt-8 w-full">Update</button>
            </a>
            <br>
            <a href="/facility/delete/{{ f.id }}">
                <button
                    class="bg-purple-500 hover:bg-purple-700 text-white font-medium py-2 px-4 rounded-md font-base text-center mt-8 w-full">Delete</button>
            </a>
        </div>
    </li>
</div>
{% empty %}
<li>No Facilities yet.</li>
{% endfor %}
{% endblock right %}
{% block section %}
<div class="shadow-lg px-4 py-6 w-200 bg-white dark:bg-gray-700 relative rounded-lg m-4 justify-center">
    <h1 class="text-6xl">Facility</h1>
    <br>
    {% if request.user == "admin" or request.user == "distadmin" or request.user.username == "admin" or request.user.username == "distadmin" %}
    <a href="/facility/add/">
        <button class="bg-green-100 hover:bg-green-300 text-purple-900 font-medium py-2 px-4 rounded-md font-base text-center mt-8 w-full">Add</button>
    </a>
    {% endif %}
</div>
{% endblock section %}