{% extends "../pannel.html" %}
{% block right %}
<div class="flex flex-row flex-col flex-wrap px-10 py-5 m-5">
    <div class="flex flex-wrap">
        {% for v in visit %}
        <div class="shadow-lg px-4 py-6 bg-white dark:bg-gray-700 rounded-lg m-4 flex-wrap grow">
            <a href="#">
                <h2 class="text-xl font-semibold hover:text-purple-600"><i class="fi fi-rr-clock mr-2"></i>{{v.patient}}
                    | {{v.nurse}}</h2>
            </a>
            <ul class="text-sm text-gray-500 p-2">
                <li>Date: {{v.date}}</li>
                <li>Time: {{v.time}}</li>
                <li>Duration: {{v.duration}}</li>
            </ul>
            <div class="justify-around flex">
                <a href="/visit/update/{{v.id}}/"><button class="mt-2 p-2 bg-purple-500 text-gray-100 rounded-lg"
                        type="submit"><i class="fi fi-rr-pencil"></i></button></a>
                <a href="/visit/details/create/"><button class="mt-2 p-2 bg-purple-500 text-gray-100 rounded-lg"
                        type="submit">Visit Create Log</button></a>
                <a href="/visit/details/{{v.id}}/"><button class=" mt-2 p-2 bg-purple-500 text-gray-100 rounded-lg"
                        type="submit">Visit Log</button></a>
                <a href="/visit/delete/{{v.id}}/"><button class="mt-2 p-2 bg-purple-500 text-gray-100 rounded-lg"
                        type="submit"><i class="fi fi-rr-trash"></i></button></a>
            </div>
        </div>
        {% empty %}
        <div class="flex items-center justify-center">
            <div class="text-xl">No Visits yet.</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock right %}

{% block section %}
<div class="shadow-lg px-4 py-6 w-200 bg-white dark:bg-gray-700 relative rounded-lg m-4 justify-center">
    <h1 class="text-6xl">Visit Schedule and Details</h1>
    <br>
    <a href="/visit/create/">
        <button class="p-2 w-200 bg-purple-500 text-gray-100 rounded-lg"><i class="fi fi-rr-add mr-2"></i>Add</button>
    </a>
</div>
{% endblock section %}