{% extends "base.html" %} {% block content %}
<div class="grid grid-cols-2 divide-x">
    <div>
        Arike
        <ul>
            <li>Dashboard</li>
            <li>Patients</li>
            <li>Visits</li>
            <li>Family Details</li>
            <li>Treatment</li>
            <li>Diseases</li>
        </ul>
        <a href="">Change Password</a>
        <a href="">LogOut</a>
    </div>
    <div>
        <input type="text" class="p-2 mb-2 bg-gray-200/75 rounded-lg w-full">
        <div class="grid grid-rows-4 grid-flow-col gap-4">
            <div class="rounded-lg bg-gray-200">
                <p>"Hey"
                    "This is test text"
                </p>
            </div>
            <div class="rounded-lg bg-gray-200">
                <p>"Hey"
                    "This is test text"
                </p>
            </div>
            <div class="rounded-lg bg-gray-200">
                <p>"Hey"
                    "This is test text"
                </p>
            </div>
            <div class="rounded-lg bg-gray-200">
                <p>"Hey"
                    "This is test text"
                </p>
            </div>
            <div class="rounded-lg bg-gray-200">
                <p>"Hey"
                    "This is test text"
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}