{% extends "pannel.html" %}

{% block right %}
<div class="flex flex-col w-3/4 md:space-y-4">
    {% block action %} {% endblock action %}
    <div class="flex justify-center flex-col w-full text-base">
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.label_tag }}
            {{ field }}
            <span class="form-error">{{ field.errors.as_text }}</span>
        </div>
        {% endfor %}
        {% csrf_token %}
        {% block submit %} {% endblock submit %}
    </div>
</form>
</div>
{% endblock right %}