{% extends "base.html" %} {% block content %}
<div class="flex h-full flex-row">
    <div class="hidden lg:block shadow-lg relative w-1/5 h-screen items-center flex flex-col">
        <div class="bg-white h-full dark:bg-gray-700">
            <div class="flex items-center justify-start pt-6 ml-8">
                <p class="font-bold dark:text-white py-3 text-3xl border-b-2 border-purple-500">
                    Arike
                </p>
            </div>
            <nav class="mt-6">
                <!-- w-full text-gray-800 dark:text-white flex items-center pl-6 p-2 my-2 transition-colors duration-200 justify-start hover:border-l-4 hover:border-purple-500 -->
                <ul class="p-2 text-gray-500">
                    <a href="/dashboard/"><li class="w-full text-gray-800 dark:text-white flex items-center pl-6 p-2 my-2 transition-colors duration-200 justify-start hover:border-l-4 hover:border-purple-500"><i class="fi fi-rr-home mr-2 text-purple-500 p-2"></i>Home</li></a>
                    <a href="/facility/"><li class="w-full text-gray-800 dark:text-white flex items-center pl-6 p-2 my-2 transition-colors duration-200 justify-start hover:border-l-4 hover:border-purple-500"><i class="fi fi-rr-apps mr-2 text-purple-500 p-2"></i>Facility</li></a>
                    <a href="/patient/"><li class="w-full text-gray-800 dark:text-white flex items-center pl-6 p-2 my-2 transition-colors duration-200 justify-start hover:border-l-4 hover:border-purple-500"><i class="fi fi-rr-user mr-2 text-purple-500 p-2"></i>Patient</li></a>
                    <a href="/treatment/"><li class="w-full text-gray-800 dark:text-white flex items-center pl-6 p-2 my-2 transition-colors duration-200 justify-start hover:border-l-4 hover:border-purple-500"><i class="fi fi-rr-treatment mr-2 text-purple-500 p-2"></i>Treatment Details</li></a>                    
                    <a href="/visit/"><li class="w-full text-gray-800 dark:text-white flex items-center pl-6 p-2 my-2 transition-colors duration-200 justify-start hover:border-l-4 hover:border-purple-500"><i class="fi fi-rr-clock mr-2 text-purple-500 p-2"></i></i>Schedule Visits</li></a>
                    {% if request.user == "admin" or request.user == "distadmin" or request.user.username == "admin" or request.user.username == "distadmin"%}
                    <a href="/user/create/"><li class="w-full text-gray-800 dark:text-white flex items-center pl-6 p-2 my-2 transition-colors duration-200 justify-start hover:border-l-4 hover:border-purple-500"><i class="fi fi-rr-user-add mr-2 text-purple-500 p-2"></i>Create Nurses</li></a>
                    {% endif %}
                    <a href="/profile/{{request.user.id}}"><li class="w-full text-gray-800 dark:text-white flex items-center pl-6 p-2 my-2 transition-colors duration-200 justify-start hover:border-l-4 hover:border-purple-500"><i class="fi fi-rr-portrait mr-2 text-purple-500 p-2"></i>Profile</li></a>
                    <a href="/logout/"><li class="w-full text-gray-800 dark:text-white flex items-center pl-6 p-2 my-2 transition-colors duration-200 justify-start hover:border-l-4 hover:border-purple-500"><i class="fi fi-rr-power mr-2 text-purple-500 p-2"></i>Log Out</li></a>
                </ul>
            </nav>
        </div>
    </div>
    <div class="w-4/5 flex">
        {% block section %} {% endblock section %}
        <div class="flex flex-row w-full justify-center">
            {% block right %} {% endblock right %}
        </div>
    </div>
</div>
{% endblock content %}